/*! Reset Estilos y algunos generales */
* {
  margin: 0;
  padding: 0;
}

main {
  margin: 20px;
  padding: 10px;
}

h1 {
  color: #224535;
  text-decoration: underline;
  font-style: italic;
}

/*? ---------------------------------------------------------------------------------------------------------*/

/*! Estilos HEADER */
header {
  background-color: #224535;
}

.container-ul {
  display: flex;
}

.navbar-toggler-icon,
.navbar-toggler {
  background-color: white;
  color: white;
}

.nav-link {
  color: white;
  font-size: 1.2rem;
}

.nav-link:hover {
  transition: 0.5s;
  color: #f17713;
}

.logo {
  width: 80px;
  height: auto;
  background-color: #fff;
}

/*? ---------------------------------------------------------------------------------------------------------*/

/*! Estilos FOOTER */
.footer {
  background-color: #224535;
  color: #f17713;
  padding: 10px;
}

.footer p {
  font-size: 18px;
  margin: 0;
}

.footer .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer .social-icons li {
  display: inline-block;
  margin: 0 5px;
}

.footer .social-icons a {
  color: #f17713;
  font-size: 28px;
  margin: 5px 20px;
}

.footer .social-icons a:hover {
  color: #000;
  transition: 0.5s;
}

/*? ---------------------------------------------------------------------------------------------------------*/

/*! Estilos CONTACTO  */
.section-contacto {
  background-color: #224535;
  padding: 20px;
}

.formulario {
  color: #f17713;
  width: 800px;
}

.formulario label {
  font-weight: bolder;
  font-size: 18px;
}

.formulario button {
  background-color: #f17713;
  font-weight: 500;
  font-size: 18px;
}

.formulario button:hover {
  background-color: #f17713;
  color: #fff;
  transition: 0.5s;
  transform: scale(1.1);
}

/*? ---------------------------------------------------------------------------------------------------------*/
/*! Estilos Servicios */

.section-servicios,
.section-amenities {
  border: 3px solid #224535;
  color: #f17713;
  padding: 20px;
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  height: 100%;
  border: 3px solid #f17713;
  color: #224535;
}

.card img {
  background-color: #f17713;
  padding: 10px;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.8s ease;
}

.card img {
  width: 60px;
}

.card:hover img {
  transform: scale(1.3);
  transition: 0.8s ease;
}

.card-title {
  font-weight: bold;
}

/*? ---------------------------------------------------------------------------------------------------------*/

/*! Estilos Index */
.section-intro p {
  font-weight: bolder;
  font-size: 18px;
  color: #224535;
}

.section-novedades {
  background-color: #fff;
  text-align: center;
  color: #f17713;
  padding: 20px;
  border: 3px solid #224535;
}

.section-novedades h2 {
  text-decoration: underline;
}

.section-novedades p {
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
}

.section-info {
  text-align: center;
}

.card-info {
  border: 5px solid #f17713;
  padding: 10px;
  border-radius: 8px;
  color: #224535;
  font-style: italic;
  height: 100%;
}

.card-info:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.card-info p {
  font-weight: bold;
  font-size: 18px;
}

.section-ubicacion {
  color: #224535;
}

.container-ubi-img {
  display: flex;
  justify-content: space-around;
}

.img-style:hover {
  transition: 0.5s;
  transform: scale(1.05);
}


.container-ubi-img img {
  margin-right: 10px;
  height: 300px;
  border: 5px solid #f17713;
}



/*? ---------------------------------------------------------------------------------------------------------*/
/*! Estilos Quienes Somos */
.section-sobreNos {
  border: 3px solid #f17713;
  color: #224535;
  font-weight: 500;
}

.section-sobreNos h2 {
  font-style: italic;
}


/*? ---------------------------------------------------------------------------------------------------------*/
/*! Estilos GALERIA */

.carousel-inner img {
  max-height: 400px;
  margin: 0 auto;
  display: block;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #f17713;
  color: #224535;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #224535;
  border-radius: 50%;
  padding: 12px;
  font-size: 24px;
}