/*! Reset Estilos y fuente */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
}

main {
  margin-top: 4rem;
}

h1 {
  font-weight: bolder;
  font-size: 3rem;
  color: #044c45;
}

b {
  color: #f99900;
}


/*! ========== Estilos HEADER ========== */
.header {
  background-color: #044c45;
}

.header button {
  color: #fff;
  background-color: #fff;
}

.logo {
  max-width: 5rem;
  background-color: #fff;
}

.container-ul {
  display: flex;
}

.container-ul li {
  margin-right: 1rem;
}

.container-ul li a {
  color: #fff;
  font-size: 1.05rem;
}

.container-ul li a:hover {
  color: #f99900;
}

/*! ========== Estilos FOOTER ========== */
.footer {
  background-color: #044c45;
  color: #fff;
  padding: .7rem;
}

.footer p {
  font-size: 1.05rem;
  margin: 0;
}

.footer .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer .social-icons li {
  display: inline-block;
  margin: 0 .2rem;
}

.footer .social-icons a {
  color: #fff;
  font-size: 1.6rem;
  margin: .2rem 1rem;
}

.footer .social-icons a:hover {
  transition: 0.5s;
  color: #f99900;
}

/*! ========== Estilos HOME ========== */
.section-intro h3 {
  font-weight: 600;
  color: #044c45;
}

.section-intro p {
  font-size: 1.2rem;
  color: #044c45;
  font-weight: 600;
  padding: 0 2rem;
}

.section-info {
  text-align: center;
}

.card-info {
  border: 1px solid #f99900;
  padding: 1rem;
  border-radius: .5rem;
  color: #044c45;
  height: 100%;
}

.card-info h3 {
  font-weight: 800;
}

.card-info p {
  font-size: 1.15rem;
  font-weight: 500;
}

/*! ========== Estilos UBICACION ========== */
.section-ubicacion h2 {
  color: #044c45;
  font-weight: 600;
}

.section-ubicacion p {
  color: #044c45;
  font-weight: 600;
  font-size: 1.2rem;
}

.section-ubicacion img {
  width: 100%;
  height: auto;
}

/*! ========== Estilos SERVICIOS ========== */
.section-servicios h2 {
  color: #044c45;
  font-weight: 600;
}

.section-servicios .card {
  border: 1px solid #044c45;
  padding: 2rem;
  height: 100%;
  align-items: center;
}

.section-servicios .card h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #044c45;
}

.section-servicios .card img {
  max-width: 3.50rem;
  border: 1px solid #f99900;
  padding: 0.5rem;
  border-radius: 10%;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.8s ease;
}

.card:hover img {
  transform: scale(1.3);
  transition: 0.8s ease;
}

.section-amenities h2 {
  color: #044c45;
  font-weight: 600;
}

.section-amenities .card {
  border: 1px solid #044c45;
  padding: 2rem;
  height: 100%;
  align-items: center;
}

.section-amenities .card h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #044c45;
}

.section-amenities .card img {
  max-width: 3.50rem;
  border: 1px solid #f99900;
  padding: 0.5rem;
  border-radius: 10%;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.8s ease;
}

.card:hover img {
  transform: scale(1.3);
  transition: 0.8s ease;
}

/*! ========== Estilos GALERIA ========== */
.section-carrusel {
  color: #044c45;
}

.section-carrusel h2,
p {
  font-weight: 600;
}

.section-carrusel p {
  font-size: 1rem;
}

.container-carrusel {
  width: 70%;
  margin: auto;
}


/*! ========== Estilos QUIENES SOMOS ========== */
.section-sobre-nosotros {
  color: #044c45;
}

.section-sobre-nosotros h2 {
  font-weight: 600;
}

.section-sobre-nosotros h3 {
  font-weight: 600;
  font-size: 1.3rem;
  color: #f99900;
}

.section-sobre-nosotros p {
  font-size: 1rem;
  font-weight: 500;
}

.card-sobreNos {
  padding: 2rem;
  border: 1px solid transparent;
}

.card-sobreNos:hover {
  transition: 0.8s;
  transform: scale(1.1);
}

/*! ========== Estilos CONTACTO ========== */
.section-contacto {
  text-align: center;
  background-color: #044c45;
  color: white;
  padding: 1rem;
}

.section-contacto h2 {
  color: #f99900;
  font-weight: 600;
}

.section-contacto label {
  color: #044c45;
  font-weight: 600;
}

.section-contacto small {
  text-align: start;
  color: white;
  margin-top: 0.5rem;
}

.section-contacto button {
  border: none;
  color: #fff;
  background-color: #f99900;
  font-weight: 600;
}

.section-contacto button:hover {
  transition: 0.8s;
  background-color: #f99900;
  transform: scale(1.1);
}

/*? Boton Flechita =================== */
.boton-inicio {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #f99900;
  color: #fff;
  font-size: 20px;
}

.boton-wsp {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  font-size: 50px;
}