/*! Reset Estilos */
* {
  margin: 0;
  padding: 0;
}

main {
  margin: 20px;
  padding: 10px;
}

/*? ---------------------------------------------------------------------------------------------------------*/

/*! Estilos HEADER */
.container-ul {
  display: flex;
}

.logo {
  width: 140px;
  height: auto;
}

/*? ---------------------------------------------------------------------------------------------------------*/

/*! Estilos FOOTER */


/*? ---------------------------------------------------------------------------------------------------------*/